
body{
    background: rgb(250, 250, 250);
}

.navbar{
    background: #12143b !important; 
}

.logo{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
}

 p {
    font-size: 1.3rem;
    max-width: 800px;
   }

@media screen and (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }
}

/* About */

.browse{
    text-decoration: none;
    border: 1px solid #12143b;
    padding: 0.5rem;
    border-radius: 5px;
    color: #12143b;
}

.browse:hover{
    background: #12143b;
    color: white;
}

.about{
    margin-top: 2rem;
}

/* support */
.support{
    margin-top: 1.5rem;
    max-width: 700px;
}

.support h4 {
    margin-bottom: 1.5rem;
}

/* Register */

.formBorder{
    border: 1px solid  #dfe1fc;
    max-width: 300px;
    padding: 1rem;
    margin: 15% auto;
    border-radius: 5px;
    background: white;
}

/* login */
.registerLink {
    margin-left: 0.5rem;
    text-decoration: none;
}

/* recruiter */

.jobForm{
    margin-top: 2rem;
    margin: auto;
    max-width: 900px;
}

.jobForm h5{
    text-align: center;
    margin-top: 2rem;
}

/* hero */

.hero{
    text-align: center;
    background: green;
    margin-top: 1.5rem;
    padding: 1rem;
    padding-bottom: 3rem;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
}

.hero h4{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.searchGroup{
    border: 1px solid lightgray;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 25px;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    max-width: 400px;
}

.searchBox{
    outline: 0;
    border: 0;
    width: 100%;
}

.searchButton{
    border: 0;
    outline: 0;
    background: 0;
    color: #12143b;
}

/* jobAdd */

.ad{
    border: 1px solid lightgray;
    padding: 1rem;
    background: white;
    max-width: 1000px;
    margin: auto;
}

.ad-header{
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.ad-header img{
    width: 40px;
    height: 40px;
}

.ad-header li{
    list-style: none;
}

.ad-body{
    line-height: 1.7;
}

.detailsLink{
    display: block;
    text-decoration: none;
    background: #12143b;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0.3rem;
    margin-top: 1.2rem;
    transition: 500ms;
}

.detailsLink:hover{
    background: white;
    color: #12143b;
    border: 1px solid #12143b;
}

@media screen and (min-width: 768px) {
    .grid-1x2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ad-header{
        border-bottom: 0;
    }
}

.ad-header li > ul{
    margin-bottom: 0.4rem;
}

/* job-details */
.job-details{
    max-width: 1000px;
    margin: auto;
}

.job-details h4 {
    text-align: center;
    margin-top: 1rem;
}

.job-details h5 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.apply{
    display: block;
    margin: 1rem auto;
    text-decoration: none;
}

/* not found */
.not-found{
    text-align: center;
}

.not-found img {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}