
.navbar{
    background: #12143b !important; 
}

.logo{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
}

 p {
    font-size: 1.3rem;
    max-width: 800px;
   }

@media screen and (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }
}

/* About */

.browse{
    text-decoration: none;
    border: 1px solid #12143b;
    padding: 0.5rem;
    border-radius: 5px;
    color: #12143b;
}

.browse:hover{
    background: #12143b;
    color: white;
}

.about{
    margin-top: 2rem;
}

/* support */
.support{
    margin-top: 1.5rem;
    max-width: 700px;
}

.support h4 {
    margin-bottom: 1.5rem;
}

/* Register */

.formBorder{
    border: 1px solid  #dfe1fc;
    max-width: 300px;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
}

/* login */
.registerLink {
    margin-left: 0.5rem;
    text-decoration: none;
}

/* recruiter */

.jobForm{
    margin-top: 2rem;
    margin: auto;
    max-width: 900px;
}

.jobForm h5{
    text-align: center;
    margin-top: 2rem;
}